# IDE
.vscode/

# Firebase / Secrets
**/*firebase-adminsdk*.json
**/*.env
.env
mobile/app.json

# Node
node_modules/
npm-debug.log

# Expo / React Native
.expo/
.expo-shared/
backend/eventhub-eedee-firebase-adminsdk-fbsvc-5e4d3d81ac.json
backend/*.json
backend/eventhub-eedee-firebase-adminsdk-*.json
backend/eventhub-eedee-firebase-adminsdk-fbsvc-05209f657f.json
