{
  "expo": {
    "name": "mobile",
    "slug": "mobile",
    "version": "1.0.0",
    "orientation": "portrait",
    "icon": "./assets/icon.png",
    "userInterfaceStyle": "light",
    "newArchEnabled": true,
    "splash": {
      "image": "./assets/splash-icon.png",
      "resizeMode": "contain",
      "backgroundColor": "#ffffff"
    },
    "ios": {
      "supportsTablet": true,
      "infoPlist": {
        "NSPhotoLibraryUsageDescription": "Cette application a besoin d'accéder à votre galerie photos pour sélectionner des images pour vos événements.",
        "NSPhotoLibraryAddUsageDescription": "Cette application a besoin d'accéder à votre galerie photos pour enregistrer des images."
      }
    },
    "android": {
      "adaptiveIcon": {
        "foregroundImage": "./assets/adaptive-icon.png",
        "backgroundColor": "#ffffff"
      },
      "edgeToEdgeEnabled": true,
      "predictiveBackGestureEnabled": false,
      "permissions": [
        "android.permission.READ_EXTERNAL_STORAGE",
        "android.permission.READ_MEDIA_IMAGES"
      ]
    },
    "web": {
      "favicon": "./assets/favicon.png"
    },
    "plugins": [
      [
        "expo-image-picker",
        {
          "photosPermission": "Cette application a besoin d'accéder à vos photos pour sélectionner des images pour vos événements."
        }
      ]
    ],
    "extra": {
      "firebase": {
        "apiKey": "YOUR_FIREBASE_API_KEY_HERE",
        "authDomain": "eventhub-eedee.firebaseapp.com",
        "projectId": "eventhub-eedee",
        "storageBucket": "eventhub-eedee.firebasestorage.app",
        "messagingSenderId": "831774299826",
        "appId": "1:831774299826:web:acce235b6800b317ed5bab"
      }
    }
  }
}
